spring:
    application.name: pivotable
    main:
        banner-mode: "off"
    profiles:
        # Do not add any default `include`, else `default` would never kicks in
        group:
            # `default` is used for quick-start: we enable unsafe and fake
            default:
                # unsafe provides various unsafe default parameters (like an unsafe signingKey)
                - unsafe
                # fakeuser introduces a default fakeAccount able to login with BASIC
                - fakeuser
                # inmemory will make the application independant of any persistence layer
                - inmemory
            default_server:
                - self_endpoint
                - simple_datasets
            # prodmode should be used only for production application, hence with safe parameters
            prodmode:
                - default_server
            # heroku is an external environment: it may be prodmode or devmode
            heroku:
                - default_server
            # unsafe activates various parameters not qualifiable for prodmode, but making development or demonstrations easier
            unsafe:
                - default_server
                # unsafe_server provides unsafe security (JWT signature, etc)
                - unsafe_server
                - unsafe_oauth2
                - unsafe_external_oauth2
            unsafe_server:
                - default_server
            # activates various oauth2 providers with an unsafe (e.g. public credentials) configurationb
            unsafe_external_oauth2:
                - default_server
                - demo_external_oauth2

# https://stackoverflow.com/questions/55237276/how-to-return-gzip-responses-with-spring-webflux
server.compression:
  enabled: true
  mime-types: application/json, application/hal+json
  min-response-size: 1024

# https://stackoverflow.com/questions/53810900/why-there-is-no-exception-stack-trace-in-spring-webflux-with-default-configurati
server.error.includeStacktrace: ALWAYS

# Relates with ApplicationPidFileWriter
spring.pid.fail-on-write-error:
  true

# https://stackoverflow.com/questions/55877188/spring-boot-actuator-returns-404-not-found
management.endpoints.web.exposure.include: health,info,beans

logging:
    level:
        org.springframework.security: INFO
        org.springframework.web.reactive: INFO
        # In INFO, we are not provided a full-stack.
        eu.solven.adhoc.pivotable.webflux.PivotableWebExceptionHandler: DEBUG

adhoc.pivotable.oauth2:
    # Used to sign the JWT, which are used to interact with the API
    signing-key: NEEDS_TO_BE_DEFINED
    issuer-base-url: NEEDS_TO_BE_DEFINED

# https://stackoverflow.com/questions/30571319/spring-boot-logging-pattern
# https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml#L15C48-L15C67
# https://stackoverflow.com/questions/5924112/how-to-shorten-thread-name-in-logback-logs
logging.pattern.console: "%clr(%d{yyyy-MM-dd'T'HH:mm:ss}){faint} %clr(%5p) [%-7.7thread] %clr(){faint}%clr(%-40.40logger{39}){cyan}|%method\\(%line\\)%clr(:){faint} %m%n%wEx"
