<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-10.10thread]%-4.4level %-43.43(%class{40}\(%line\)) %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
		<!-- includeCallerData due to AsyncAppender and we log class/method/line -->
		<includeCallerData>true</includeCallerData>
		<appender-ref ref="STDOUT" />
	</appender>
	
	<!-- This logs a lot of useless information -->
	<logger name="org.springframework.test.context.support.DefaultTestContextBootstrapper" level="WARN"/>

	<!-- JDK leads to many issues with JavAssist, used to transfer ExtendedPluginValues -->
	<logger name="com.quartetfs.fwk.types.impl.FactoryValue" level="ERROR"/>
	<!-- Hide WARNs about classes missing JARs during classpath scanning -->
	<logger name="com.quartetfs.fwk.contributions.impl.ClasspathContributionProvider" level="ERROR"/>

	<root level="INFO">
		<appender-ref ref="ASYNC_STDOUT" />
	</root>
</configuration>